#tt{
    width: 50%;

    text-align: center;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 50px;
     left: 50px;
    right: 50px; 
    padding: 0;
    border-collapse: separate;

    
}
#toto{
    background-image:url('Photo1.jpg');
    background-size: cover; 

    background-repeat: no-repeat;
    background-position: center;
 /* background:linear-gradient(to bottom, rgb(255, 255, 255)  50%,rgb(221, 203, 178) 50%);  */

color: rgb(221, 203, 178);
/* padding: 10px; */
}
table td {
    padding: 20px;
}
.div1{
    margin: 50px;
    width: 80px;
    height: 80px;
    background-color:  rgb(221, 203, 178);
    opacity: 0.8;
    padding: 10px;
    /* margin-left: 20px; */
    /* border-radius: 10% / 50%; */
    /* border-radius: 50% 20% / 10% 40%; */
    border-radius: 400px;
    /* box-shadow: 09px 8px 5px 2px rgb(14, 130, 130); */
    transition: 0.5s;
    

}
.div1:hover{
    transform: scale(1,0.9);
    /* box-shadow: 0px 0px 10px 5px teal; */

}
.bb{
    text-align: -webkit-match-parent;
    text-decoration: none; 
    padding: 5px 15px 5px 15px;
    border-radius:20px 4px 20px 4px ;
    border: none;
    color: rgb(15, 10, 10);

}
.bt1{
    background-color: #644a18c4;
    
}
.bt2{
    background-color:#644a18c4;

}
img{
    /* width: 200px;; */
}
.parag{
    color: rgb(29, 28, 28);
    font-size: 25px;

    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.header{

    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   opacity: 0.8;
    color: rgb(29, 28, 28);
    font-size: 55px;
    text-shadow: 5px 2px 0px #6f6d6ac4;
}
#es{
    
    justify-content: space-between;
    padding: 30px 10%
}